name: Check Building Static Library

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure (Debug preset)
        run: cmake --preset "ISO-TP[Debug]" -B "build/ISO-TP[Debug]"

      - name: Build
        run: cmake --build "build/ISO-TP[Debug]"

      - name: Configure (Release preset)
        run: cmake --preset "ISO-TP[Release]" -B "build/ISO-TP[Release]"

      - name: Build
        run: cmake --build "build/ISO-TP[Release]"

  cppcheck:
    name: Cppcheck Analysis
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Cppcheck
        run: sudo apt-get update && sudo apt-get install -y cppcheck

      - name: Run Cppcheck
        run: |
          mkdir -p cppcheck-report
          cppcheck --enable=all --inconclusive --std=c17 --force \
            --xml --xml-version=2 . 2> cppcheck-report/cppcheck.xml
          cppcheck-htmlreport --file=cppcheck-report/cppcheck.xml \
            --report-dir=cppcheck-report/html --source-dir=.

      - name: Upload Cppcheck report
        uses: actions/upload-artifact@v4
        with:
          name: cppcheck-html
          path: cppcheck-report/html

  codeql:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: c

      - name: Perform CodeQL Database Build
        uses: github/codeql-action/autobuild@v3

      - name: Run CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          output: codeql-report

      - name: Generate HTML report
        run: |
          mkdir -p codeql-report

          $CODEQL_DIST/codeql database analyze \
            $CODEQL_EXTRACTOR_CPP_WIP_DATABASE \
            --format=html \
            --output=codeql-report/codeql-report.html \
            cpp-code-scanning.qls

      - name: Upload CodeQL HTML report
        uses: actions/upload-artifact@v4
        with:
          name: codeql-html
          path: codeql-report/codeql-report.html
